---
title: Home
lang: en
---

<main>
    <div class="widgets-container">
        <div class="container">
        <div class="widgets">
            <div class="widget">
            <img src="/images/simple.png" alt="Simple" />
            <h2>Simple</h2>
            <div class="description">
                Thanks to Bubble CMS you can train a chatbot even if you are not
                a nerd. Log in and get started.
            </div>
            </div>
            <div class="widget">
            <img src="/images/controlled.png" alt="Controlled" />
            <h2>Controlled</h2>
            <div class="description">
                With Bubble CMS you make sure that changes to the bot do not
                cause any unwanted side effects.
            </div>
            </div>
            <div class="widget">
            <img src="/images/independent.png" alt="Independent" />
            <h2>Independent</h2>
            <div class="description">
                Use the Bot framework of your choice. Or use several at once.
                Bubble CMS does the rest.
            </div>
            </div>
        </div>
        </div>
    </div>

    <div class="preview-container">
        <div class="container">
        <div>
            <h1>Chatbot Content Management</h1>
            <div class="description">
            The content of a chatbot should be managed by the people who are
            most familiar with it.<br />Bubble CMS was developed to make this
            possible.
            </div>

            <h2>Easy Content Management</h2>
            <p>
            Manage your chatbot content like a breeze thanks to a powerful and
            intuitive user interface.
            </p>
            <img
            alt="Screenshot of Bubble CMS Content Management"
            src="/images/bubblecms-manage.png"
            />

            <h2>Easy Chatbot Training</h2>
            <p>Train your chatbot in no time and with confidence.</p>
            <img
            alt="Screen shot of Bubble CMS Training"
            src="/images/bubblecms-training.png"
            />

            <h2>Verify Changes</h2>
            <p>Test your new content before publishing.</p>
            <img
            alt="Screen shot of Bubble CMS Publish"
            src="/images/bubblecms-publish.png"
            />

            <h2>Metrics</h2>
            <p>
            Monitor and improve the performance of your chatbot efficiently.
            </p>
            <img
            alt="Screen shot of Bubble CMS Dashboard"
            src="/images/bubblecms-dashboard.png"
            />

            <h2>Conversation insights</h2>
            <p>Get insights into what users are chatting about.</p>
            <img
            alt="Screen shot of Bubble CMS Conversations"
            src="/images/bubblecms-conversations.png"
            />
        </div>
        </div>
    </div>

    <div class="features-container">
        <div class="container">
        <div>
            <h1>Features</h1>
            <div class="description">
            <div class="bubble bubble-left">
                Can different specialists train the bot?
            </div>
            <div class="bubble bubble-right">
                <span class="icon">
                <i class="fas fa-graduation-cap"></i>
                </span>
                <p>
                Several specialists can train the bot independently for a
                specific domain.
                </p>
            </div>
            <div class="bubble bubble-left">
                Will I see what the bot didn't understand?
            </div>
            <div class="bubble bubble-right">
                <span class="icon"> <i class="fas fa-question"></i> </span>
                <p>
                Utterances that the bot has not understood are clearly
                displayed and serve as the basis for periodic training.
                </p>
            </div>
            <div class="bubble bubble-left">
                How do I know that content updates don't break the bot?
            </div>
            <div class="bubble bubble-right">
                <span class="icon"> <i class="fas fa-heartbeat"></i></span>
                <p>
                The proper functionality of the bot can be ensured
                automatically with test questions.
                </p>
            </div>
            <div class="bubble bubble-left">
                I already have an FAQ. Do I need to manage each the bot and the
                FAQ?
            </div>
            <div class="bubble bubble-right">
                <span class="icon"> <i class="fas fa-comments"></i></span>
                <p>FAQ pages can be integrated automatically.</p>
            </div>
            <div class="bubble bubble-left">Is translation supported?</div>
            <div class="bubble bubble-right">
                <span class="icon"> <i class="fas fa-language"></i></span>
                <p>A translation process is directly integrated.</p>
            </div>
            </div>
        </div>
        </div>
    </div>

    <div class="preview-container">
        <div class="container">
        <h1>Blog</h1>
        <a
            href="https://medium.com/bubble-cms/how-to-manage-chatbot-content-acfc9719cfd9"
            class="blogpost"
            target="_blank"
            rel="noopener noreferrer"
        >
            <img
            src="/images/alex-knight-199368-unsplash.jpg"
            alt="Roboter infront of brown wall"
            />
            <div class="blogpost-content">
            <h2>Chatbot maintenance can be a pain</h2>
            <p>
                A chatbot that answers a few simple questions needs hardly any
                maintenance. However, if a chatbot project is a bit larger, it
                can become a pain.
            </p>
            <p><small>medium.com</small></p>
            </div>
        </a>
        </div>
    </div>

    <div class="features-container">
        <div class="container">
        <div
            class="typeform-widget"
            data-url="https://botfabrik.typeform.com/to/c0TfwM"
            style="width: 100%; height: 500px;"
        ></div>
        <script>
            (function() {
            var qs,
                js,
                q,
                s,
                d = document,
                gi = d.getElementById,
                ce = d.createElement,
                gt = d.getElementsByTagName,
                id = "typef_orm",
                b = "https://embed.typeform.com/";
            if (!gi.call(d, id)) {
                js = ce.call(d, "script");
                js.id = id;
                js.src = b + "embed.js";
                q = gt.call(d, "script")[0];
                q.parentNode.insertBefore(js, q);
            }
            })();
        </script>
        <div
            style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;"
        >
            powered by
            <a
            href="https://admin.typeform.com/signup?utm_campaign=c0TfwM&utm_source=typeform.com-5750515-Basic&utm_medium=typeform&utm_content=typeform-embedded-poweredbytypeform&utm_term=EN"
            style="color: #999"
            target="_blank"
            >Typeform</a
            >
        </div>
        </div>
    </div>

    <div class="get-it-now-container">
        <div class="container">
        <div class="description">Start with Bubble CMS now</div>
        <a class="btn btn-blue" href="/en/sign-up/">Get free trial</a>
        </div>
    </div>
</main>
