---
layout: landing-page
title: Home
lang: en
---

<main>
    <a name="cms"></a>
    <div class="preview-container">
        <div class="container">
            <h1>Chatbot Content Management</h1>
            <div class="description">
                The content of a chatbot should be managed by the people who are
                most familiar with it.<br />Bubble CMS was developed to make this
                possible.
            </div>

            <div class="items">
                <div class="item">
                    <img
                      alt="Workflow Example of Bubble CMS Content Management"
                      class="preview-gif"
                      src="/images/bubblecms-example-15fps.gif"
                    />
                  </div>
                <div class="item">
                    <div class="item-description">
                        <h2>Easy Content Management</h2>
                        <h3>
                            Manage your chatbot content like a breeze thanks to a powerful and
                            intuitive user interface.
                        </h3>
                        <p>
                            With Bubble CMS it is very easy to teach the chatbot the correct answers to frequently asked
                            questions.
                            With the help of predefined templates, structured conversations can be configured in an
                            instant.
                        </p>
                        <p>Find your intents immediately thanks to a fast full text search. It includes both training
                            sentences and answers from the bots.</p>
                    </div>
                    <div class="item-image">
                        <img alt="Screenshot of Bubble CMS Content Management" src="/images/bubblecms-manage.png" />
                    </div>
                </div>

                <div class="item">
                    <div class="item-description">
                        <h2>Easy Chatbot Training</h2>
                        <h3>Train your chatbot in no time and with confidence.</h3>
                        <p>Get an overview of what your chatbot did not understand and assign the unanswered user
                            utterances to the corresponding intent.</p>
                        <p>Create new intents if there is no suitable one for an utterance yet.</p>
                    </div>
                    <div class="item-image">
                        <img alt="Screenshot of Bubble CMS Training" src="/images/bubblecms-training.png" />
                    </div>
                </div>


                <div class="item">
                    <div class="item-description">
                        <h2>Verify Changes</h2>
                        <h3>Test your new content before publishing.</h3>
                        <p>All changes are applied to a test instance first. This allows you to test your changes before
                            they are published.</p>
                        <p>In addition, the content is tested automatically. This allows you to decide whether you want
                            to apply the changes to the productive environment.</p>
                    </div>
                    <div class="item-image">
                        <img alt="Screenshot of Bubble CMS Publish" src="/images/bubblecms-publish.png" />
                    </div>
                </div>

                <div class="item">
                    <div class="item-description">
                        <h2>Metrics</h2>
                        <h3>Monitor and improve the performance of your chatbot efficiently.</h3>
                        <p>The Bubble CMS Dashboard provides you with a bunch of key metrics for chatbot analytics. Many
                            of the
                            capabilities of the chatbot will be measured through those metrics.</p>
                        <p>In addition, it is possible to export all conversations to your own reporting tool such as
                            Tableu or Qlik Sense.</p>
                    </div>
                    <div class="item-image">
                        <img alt="Screenshot of Bubble CMS Dashboard" src="/images/bubblecms-dashboard.png" />
                    </div>
                </div>

                <div class="item">
                    <div class="item-description">
                        <h2>Conversation insights</h2>
                        <h3>Get insights into what users are chatting about.</h3>
                        <p>Sometimes you want to have a look at a conversation in detail. Bubble CMS can not only show
                            the history of every conversation but also update the live transcriptions in realtime.</p>
                        <p>In addition, the context of individual messages can be inspected.</p>
                    </div>
                    <div class="item-image">
                        <img alt="Screenshot of Bubble CMS Conversations" src="/images/bubblecms-conversations.png" />
                    </div>
                </div>

        <div class="item">
          <div class="item-description">
            <h2>Verify Changes</h2>
            <h3>Test your new content before publishing.</h3>
            <p>
              All changes are applied to a test instance first. This allows you
              to test your changes before they are published.
            </p>
            <p>
              In addition, the content is tested automatically. This allows you
              to decide whether you want to apply the changes to the productive
              environment.
            </p>
          </div>
          <div class="item-image">
            <img
              alt="Screen shot of Bubble CMS Publish"
              src="/images/bubblecms-publish.png"
            />
          </div>
        </div>

            <div class="call-to-action">
                <a class="btn btn-blue" href="/en/sign-up/">Get it now</a>
            </div>
        </div>

        <div class="item">
          <div class="item-description">
            <h2>Conversation insights</h2>
            <h3>Get insights into what users are chatting about.</h3>
            <p>
              Sometimes you want to have a look at a conversation in detail.
              Bubble CMS can not only show the history of every conversation but
              also update the live transcriptions in realtime.
            </p>
            <p>
              In addition, the context of individual messages can be inspected.
            </p>
            <div class="box">
                <div class="row first">
                    <div class="col feature">
                        Intent management
                    </div>
                    <div class="col">
                        <img src="/images/check-circle.svg" />
                        <div>Add, update, combine or remove intents.<br />Fast full text search included.</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col feature">
                        Multi-lingual chatbot
                    </div>
                    <div class="col">
                        <img src="/images/check-circle.svg" />
                        <div>EN, DE, FR, ... - you name it.</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col feature">
                        Supported NLU frameworks
                    </div>
                    <div class="col">
                        <img src="/images/check-circle.svg" />
                        <div>Dialogflow and Rasa<br />others on demand</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col feature">
                        Entities
                    </div>
                    <div class="col">
                        <img src="/images/check-circle.svg" />
                        <div>Configure entity extraction<br />Shipped with a set of predefined system entities.</div>
                    </div>
                </div>

  <a name="features"></a>
  <div class="features-container">
    <div class="container">
      <h1>Features</h1>
      <p>
        Bubble CMS empowers business people to manage the content of their
        chatbots without the need of an IT guru.
      </p>
      <p>
        Thanks to its technology-indepedance, Bubble CMS can be easily
        integrated into an existing chatbot environment.
      </p>
      <div class="box">
        <div class="row first">
          <div class="col feature">
            Intent management
          </div>
          <div class="col">
            <img src="/images/check-circle.svg" />
            <div>
              Add, update, combine or remove intents.<br />Fast full text search
              included.
            </div>
          </div>
        </div>
        <div class="call-to-action">
            <a class="btn btn-blue" href="/en/sign-up/">Get free trial</a>
        </div>

        <div class="row">
          <div class="col feature">
            Independent training
          </div>
          <div class="col">
            <img src="/images/check-circle.svg" />
            <div>
              Several specialists can train the bot independently for a specific
              domain.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col feature">
            Test modified content before publish
          </div>
          <div class="col">
            <img src="/images/check-circle.svg" />
            <div>
              The proper functionality of the bot can be ensured automatically
              with test questions.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col feature">
            Overview of unanswered user utterances
          </div>
          <div class="col">
            <img src="/images/check-circle.svg" />
            <div>
              Utterances that the bot has not understood are clearly displayed
              and serve as the basis for periodic training.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col feature">
            User authentication
          </div>
          <div class="col">
            <img src="/images/check-circle.svg" />
            <div>Social login<br />LDAP on demand</div>
          </div>
        </div>
        <div class="row">
          <div class="col feature">
            Analytics
          </div>
          <div class="col">
            <img src="/images/check-circle.svg" />
            <div>
              Basic user, message and bot metrics<br />Custom metrics on demand
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col feature">
            Software as a Service (SaaS)
          </div>
          <div class="col">
            <img src="/images/check-circle.svg" />
            <div>Hosted in Switzerland in a high available data center.</div>
          </div>
        </div>
        <div class="row">
          <div class="col feature">
            On-premise
          </div>
          <div class="col">
            <img src="/images/check-circle.svg" />
            <div>Installed locally, on your own servers.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="call-to-action">
      <a class="btn btn-blue" href="/sign-up/">Get free trial</a>
    </div>
  </div>

  <div class="blogpost-container">
    <div class="container">
      <h1>Blog</h1>
      <a
        href="https://medium.com/bubble-cms/how-to-manage-chatbot-content-acfc9719cfd9"
        class="blogpost"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="/images/alex-knight-199368-unsplash.jpg"
          alt="Roboter infront of brown wall"
        />
        <div class="blogpost-content">
          <h2>Chatbot maintenance can be a pain</h2>
          <p>
            A chatbot that answers a few simple questions needs hardly any
            maintenance. However, if a chatbot project is a bit larger, it can
            become a pain.
          </p>
          <p><small>medium.com</small></p>
        </div>
      </a>
    </div>
  </div>
</main>
