body {
  font-family: "Lato", sans-serif;
  margin: 0;
  color: #111;
  background-color: #f2f2f2;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
  line-height: 1.2;
  margin-top: 0;
}

h1 {
  font-size: 2em;
}

h3 {
  font-size: 1em;
}

@media (min-width: 769px) {
  h1 {
    font-size: 3em;
  }
}

small {
  color: #888;
}

.middle {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.description {
  font-size: 21px;
  line-height: 1.38105;
  font-weight: 400;
  letter-spacing: 0.011em;
}

body {
  display: grid;
  grid: auto 1fr auto / auto;
  min-height: 100vh;
}

/* Hero Section */

.hero {
  z-index: 100;
  font-size: 2.4rem;
  background-color: black;
  background-image: url("/images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.hero .container {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
}

.hero .middle {
  flex: 1 1 auto;
}

.hero .logo-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.hero .logo-container .logo {
  max-width: 300px;
}

.hero .logo-container .language-switcher {
  color: white;
  margin-top: 1rem;
  font-size: 1.2rem;
  text-decoration: none;
  display: none;
}

.hero h1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1;
}

.hero h2 {
  font-size: 2rem;
}

@media (min-width: 769px) {
  .hero .logo-container .language-switcher {
    display: inline !important;
  }

  .hero h2 {
    font-size: 3rem;
  }
}

/* Widgets Section */

.widgets-container {
  background-color: #f2f2f2;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.widgets-container .widgets {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -1rem;
}

.widgets-container .widget {
  text-align: center;
  padding: 1rem;
  flex: 1 1 18rem;
}

.widgets-container .widget img {
  width: 50px;
}

.widgets-container .widget h2 {
  color: #444;
  font-size: 21px;
  margin: 0.5rem;
  line-height: 1.38105;
  letter-spacing: 0.011em;
}

/* Preview Section */

.preview-container {
  background-color: white;
  padding-top: 7rem;
  text-align: left;
}

.preview-container h1,
.preview-container h2 {
  color: #444;
}

.preview-container h3 {
  color: #888;
}

.preview-container img {
  max-width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.preview-container .items {
  margin-bottom: 4rem;
}

.preview-container .item {
  padding-top: 5rem;
}

.preview-container .item-description {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: left;
}

.preview-container .item-image {
  flex: 0 0 63%;
}

@media (min-width: 768px) {
  .preview-container {
    text-align: center !important;
  }

  .preview-container .item {
    display: flex;
    justify-content: space-between;
    padding-top: 7rem !important;
    margin-bottom: 3rem !important;
  }

  .preview-container .item:nth-child(even) {
    flex-direction: row-reverse;
  }

  .preview-container .item-description {
    flex: 0 0 34%;
    padding-top: 1rem;
    text-align: left;
  }
}

/** Features Section **/

.features-container {
  padding-top: 7rem;
  padding-bottom: 4rem;
  text-align: left;
}

.features-container h1 {
  color: #444;
}

.features-container .container .box {
  color: #2b2b2b;
  background-color: #fff;
  padding: 48px 24px 64px 24px;
  border-radius: 8px;
  box-shadow: 0 8px 12px -12px rgba(0, 0, 0, 0.5),
    0 8px 24px 0 rgba(0, 0, 0, 0.1);
  margin: 64px 0;
}

.features-container .container .box .row {
  padding: 16px 0;
  border-bottom: 1px solid #d6d6d6;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.features-container .container .box .row.first {
  border-top: 1px solid #d6d6d6;
}

.features-container .container .box .col {
  display: flex;
  flex: 1;
  align-items: flex-start;
  text-align: left;
}

.features-container .container .box .col img {
  margin-right: 1rem;
}

.features-container .container .box .col.feature {
  margin-bottom: 1rem;
  font-weight: 600;
  color: #595959;
}

@media (min-width: 769px) {
  .features-container {
    text-align: center !important;
  }

  .features-container .container .box .row {
    flex-direction: row !important;
  }
  .features-container .container .box .col {
    flex: 0 0 50% !important;
    max-width: 50% !important;
    text-align: left !important;
  }
  .features-container .container .box .col img {
    margin-right: 2rem !important;
  }
  .features-container .container .box .col.feature {
    margin-bottom: 1rem !important;
  }
}

/* Blogpost Section */

.blogpost-container {
  background-color: white;
  text-align: left;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.blogpost-container h1 {
  color: #444;
}

.blogpost {
  display: block;
  max-width: 30rem;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  text-align: left;
  color: #333;
  text-decoration: none;
  transition: transform 0.1s;
  overflow: hidden;
}

.blogpost img {
  width: 100%;
  margin: 0;
}

.blogpost .blogpost-content {
  padding: 0 1em;
}

.blogpost:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 10px #eee;
}

.blogpost:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px #ccc;
}

.blogpost h2 {
  margin-top: 1em;
}

@media (min-width: 769px) {
  .blogpost-container {
    text-align: center;
  }
}

/* Sign up Section */

.sign-up {
  padding-top: 3rem;
}

.sign-up .sign-up-header {
  margin-bottom: 12rem;
}

.sign-up .sign-up-header .logo {
  width: 300px;
  margin-bottom: 3rem;
}

.sign-up .register-container .container {
  display: flex;
  padding-bottom: 8rem;
}

.sign-up .register-container .sign-up-form {
  padding-top: 1rem;
  max-width: 30rem;
}

.sign-up .register-container .sign-up-form h2 {
  font-size: 2.3rem;
  margin-bottom: 0;
}

.sign-up .register-container .sign-up-form input {
  padding-right: 46px;
  min-height: 100%;
  position: static;
  padding: 6px 11px;
  height: 40px;
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  display: inline-block;
  width: 100%;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}

.sign-up .register-container .sign-up-form .input-affix-wrapper {
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  display: inline-block;
  width: 100%;
}
.sign-up .register-container .sign-up-form .input-suffix {
  right: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  line-height: 0;
  color: rgba(0, 0, 0, 0.65);
}

.sign-up .register-container .sign-up-form button:hover {
  background-color: #9254de;
}

.sign-up .register-container .sign-up-form button {
  color: #fff;
  background-color: #722ed1;
  border-color: #722ed1;
  padding: 0 15px;
  font-size: 16px;
  border-radius: 4px;
  height: 40px;
}

.sign-up .form-items {
  padding-inline-start: 0;
}

.sign-up .form-items li {
  list-style: none;
  padding-block-end: 1.5rem;
}

.sign-up .form-items li label {
  padding-bottom: 0.2rem;
  display: block;
}

.sign-up .form-items input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid rgb(217, 217, 217);
  border-radius: 4px;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
}

.sign-up .form-items textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem;
  border: 1px solid rgb(217, 217, 217);
  border-radius: 4px;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
}

.sign-up-success {
  padding-top: 8rem;
}

.container {
  max-width: 1024px;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}

/* Footer Section */

footer {
  color: white;
  background: #053177;
  background-image: linear-gradient(
    -225deg,
    rgba(179, 127, 235, 0) 0%,
    rgba(179, 127, 235, 0.5) 100%
  );
  padding-top: 2rem;
  padding-bottom: 2rem;
}

footer a {
  color: white;
  text-decoration: none;
}

footer .container {
  padding-top: 1rem;
}

@media (min-width: 769px) {
  footer .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.call-to-action {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

.btn {
  padding: 15px 40px;
  font-size: 22px;
  text-decoration: none;
  margin: 20px;
  color: #fff;
  text-shadow: none;
  display: inline-block;
  border: 0;
  border-radius: 30px;
  transition: transform 0.1s;
}

.btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
}

.btn:focus {
  outline: 0;
}

.btn-blue {
  background-color: #722ed1;
  border: 2px solid white;
}

.btn-blue:hover {
  background-color: #9254de;
}
