---
layout: landing-page
title: Home
lang: de
---

<main>
  <section class="container">
    <h1 id="home">Anwender&shy;zentrierte VR Entwicklung</h1>
    <p>
      Wir zeigen auf, wo es in Ihrem Unternehmen Sinn macht, VR oder AR in Ihre
      Prozesse zu integrieren.<br />
      Dabei setzen wir Ihre Anwender ins Zentrum und schaffen mit modernster
      Technologie Arbeitserleichterung, Qualitätssteigerung und neue
      Kundenerlebnisse.
    </p>
  </section>

  <section class="container">
    <h1 id="angebot">Angebot</h1>
    <p>
      Wir können Sie in allen Belangen rund um die Themen Virtual Reality und
      Augmented Reality unterstützen. Nehmen Sie mit uns
      <a href="/contact">Kontakt</a> auf, damit wir Ihnen ein passendes Angebot
      machen können.
    </p>
    <div class="offers">
      <div class="offer">
        <h2>Einführung</h2>
        <p>
          Klein anfangen - Trends und Chancen rund um die Themen Virtual Reality
          und Augmented Reality.
        </p>
        <ul>
          <li>Einführung in AR & VR</li>
          <li>Vorstellung der Trends und Chancen</li>
          <li>Austausch und Besprechung möglicher Anwendungsfälle</li>
        </ul>
        <div class="price">CHF 490.-</div>
      </div>
      <div class="offer">
        <h2>Beratung</h2>
        <p>
          Konkrete Pläne schmieden - wo können Sie in Ihrem Unternehmen VR oder
          AR einsetzen?
        </p>
        <ul>
          <li>Aufzeigen von konkreten Anwendungsfällen</li>
          <li>Business Impacts für Ihr Unternehmen</li>
          <li>Technologieempfehlung</li>
          <li>Vorgehen für Umsetzung aufzeigen</li>
          <li>Grobe Aufwandsschätzung</li>
        </ul>
        <div class="price">CHF 4'990.-</div>
      </div>
      <div class="offer">
        <h2>Umsetzung</h2>
        <p>
          Nägel mit Köpfen machen - wir unterstützen Sie durch die gesamte
          Umsetzung Ihres Vorhabens.
        </p>
        <ul>
          <li>Projektleitung und Koordination</li>
          <li>Anforderungen aufnehmen und Umsetzen</li>
          <li>Einbindung und Integration in Businessprozesse</li>
          <li>Einführung und Schulung</li>
          <li>Unterstützung bei Hardwarebeschaffung</li>
        </ul>
        <div class="price">Preis auf Anfrage</div>
      </div>
    </div>
  </section>

  <div class="gray-section">
    <section class="container">
      <h1>Interessiert?</h1>
      <p>
        Wir helfen Ihnen gerne bei der Entwicklung Ihrer eigenen VR oder AR
        Lösung.
      </p>
      <a href="/contact" class="call-to-action">Jetzt Kontakt aufnehmen</a>
    </section>
  </div>
  <section class="container">
    <h1>Virtual und Augmented Reality erklärt</h1>
    <p>
      Je nach Anwendungsfall, wählt man zwischen Virtual und Augmented Reality.
      Aber was ist eigentlich der Unterschied? Hier eine kurze Erklärung der
      beiden Begriffe:
    </p>
    <div class="vr-and-ar">
      <div class="vr-and-ar-item">
        <h2>Augmented Reality (AR)</h2>
        <p>
          In der "erweiterten" Realität wird die reale Welt als Basis benutzt
          und so erweitert, dass zusätzliche Informationen oder Objekte an
          den gewünschten Stellen eingeblendet werden. Den Rest der Welt sieht
          der Benutzer ganz normal. Die einfachste Form von AR wird oft so
          realisiert, dass die Kamera des Geräts das Bild der realen Welt
          aufzeichnet und dieses Bild dann mit AR Elementen angereichert auf den
          Bildschirm angezeigt wird. AR kann aber auch mit speziellen Brillen
          direkt im Sichtfeld des Benutzers umgesetzt werden.
        </p>
      </div>
      <div class="vr-and-ar-item">
        <h2>Virtual Reality (VR)</h2>
        <p>
          In der virtuellen Realität nimmt der Nutzer die reale Umwelt gar nicht
          mehr wahr. Stattdessen wird ihn eine komplett selbst gestaltete
          Umgebung gezeigt. Normalerweise wird zum eintauchen in die Virtual
          Reality ein VR-Headset benutzt. Es gibt aber auch Halterungen, in die
          ein Smartphone eingelegt werden kann um dessen Display zu
          verwenden.
        </p>
      </div>
    </div>
  </section>

  <section class="container">
    <h1 id="anwendungsbeispiele">Anwendungs&shy;beispiele</h1>
    <p>
      Es gibt eine Vielzahl möglicher Einsatzgebiete von VR und AR. Innerhalb
      von Unternehmen sehen wir sie heute mehrheitlich für
      Schritt-für-Schritt-Anleitungen, Fernunterstützung von Mitarbeitern und
      den Transfer von Wissen. Für Ihre Kunden sind es Themen wie
      Produktpräsentationen oder virtuelle Begehungen.
    </p>
    <div class="cases-container">
      <div class="items">
        <div class="item">
          <h2>Schritt-für-Schritt-Anleitungen</h2>
          <p>
            Mit Hilfe von sogenannten Schritt-für-Schritt-Anleitungen wird der
            Nutzer durch eine komplexe Aufgabe geführt. Die Aufgabe wird dazu in
            kleine Schritte unterteilt und leicht nachvollziehbar präsentiert.
            Durch interaktive Elemente kann dem Nutzer nicht nur erklärt werden,
            was zu tun ist, sondern auch wo und in welcher Weise er dies tun
            muss.
          </p>
        </div>
        <div class="item">
          <h2>Fernunterstützung von Mitarbeitern</h2>
          <p>
            Das bestehende Wissen und Personal vor Ort reicht oftmals nicht aus,
            um ein Problem zu lösen. In diesen Fällen ist man auf
            spezialisiertes Know-how angewiesen. Durch den Einsatz einer
            Augmented Reality Fernunterstützung können Experten, die nicht
            direkt vor Ort sein können, Ihre Mitarbeiter unterstützen. Mit Hilfe
            von Tablets, Smartphones oder Smartglasses können sie das Geschehen
            beobachten, mit dem Gegenüber sprechen und raumbezogene Markierungen
            oder Symbole für eindeutige Anweisungen setzen.
          </p>
        </div>
        <div class="item">
          <h2>Wissenstransfer</h2>
          <p>
            Bei Trainings- und Schulungsszenarien erlaubt die Nutzung von AR und
            VR, Informationen und Zusammenhänge spielerisch zu vermitteln.
            Auszubildende können in spezielle Situationen versetzt werden und
            Arbeitsabläufe immer und immer wieder durchspielen. So können sie
            auf gefährliche Situationen vorbereitet werden oder den Umgang mit
            teuren Elementen erlernen ohne dabei sich selbst oder ihr Umfeld in
            Gefahr zu bringen.
          </p>
        </div>
        <div class="item">
          <h2>Produkt&shy;präsentationen</h2>
          <p>
            Augmented Reality und Virtual Reality halten auch in den Bereichen
            Sales und Marketing Einzug: Produkte werden dank ihrer Hilfe
            erlebbar und lassen sich mit zusätzlichen Emotionen verknüpfen.
            Kunden können Produkte virtuell anprobieren oder schauen, wie sie
            sich in ihrem Umfeld machen.
          </p>
        </div>
        <div class="item">
          <h2>Virtuelle Begehungen</h2>
          <p>
            Informationen, die an einen fixen Standort gebunden sind oder
            Handlungen die nicht im Jetzt spielen, können mit Hilfe von Virtual
            Reality jedermann und jederzeit zugänglich gemacht werden.
          </p>
        </div>
        <div class="item">
          <h2>Weitere Beispiele</h2>
          <p>
            Es gibt noch zahlreiche andere Anwendungsbeispiele. Gerne zeigen wir
            Ihnen diese auf und erarbeiten für Ihr Unternehmen passende
            Lösungen.
          </p>
          <a href="/contact" class="call-to-action">Jetzt Kontakt aufnehmen</a>
        </div>
      </div>
    </div>
  </section>

  <section class="container">
    <h1 id="showcase">Showcase - Augusta Raurica</h1>
    <p>
      Für Augusta Raurica entwickelten wir eine Augmented Reality App. Besucher
      können sich damit z.B. Funde mit fehlenden Teilen so ansehen, als wären
      sie ganz. Die Objekte können frei von allen Seiten betrachtet werden.
    </p>
    <img src="/images/augusta-raurica1.jpg" style="max-width: 100%;" />
    <p>
      Man kann sich ebenfalls die ursprünglichen Gebäude anzeigen lassen, so als
      würden sie heute noch da stehen. Die App erkennt automatisch, welche Teile
      des Bildes erhalten bleiben sollen, und welche überdeckt werden dürfen. Im
      folgenden Fall bleibt der Römer im Bild, und das Gebäude wird im
      Hintergrund an der richtigen Stelle dargestellt.
    </p>
    <div class="showcase-images">
      <img src="/images/augusta-raurica2.jpg" style="max-width: 100%;" />
      <img src="/images/augusta-raurica3.jpg" style="max-width: 100%;" />
    </div>
  </section>
</main>

<script src="/utils/play-video-in-viewport.js"></script>