---
layout: landing-page
title: Home
lang: de
---

<main>
  <a name="mission"></a>
  <div class="preview-container">
    <div class="container">
      <h1>Anwenderzentrierte VR Lösungen</h1>
      <div class="description">
        Wir zeigen auf, wo es in Ihrem Unternehmen Sinn macht, VR oder AR in
        Ihre Prozesse zu integrieren.<br />
        Dabei setzen wir Ihre Anwender ins Zentrum und schaffen mit modernster
        Technologie Arbeitserleichterung, Qualitätssteigerung und neue
        Kundenerlebnisse.
      </div>
    </div>
  </div>
  <a name="angebot"></a>
  <div class="offers-container">
    <div class="container">
      <h1>Angebot</h1>
      <div class="offers">
        <div class="offer">
          <h2>Einstieg</h2>
          <ul>
            <li>TODO</li>
          </ul>
          <div class="price">CHF 499.-</div>
        </div>
        <div class="offer">
          <h2>Einstieg</h2>
          <ul>
            <li>TODO</li>
          </ul>
          <div class="price">CHF 4999.-</div>
        </div>
        <div class="offer">
          <h2>Einstieg</h2>
          <ul>
            <li>TODO</li>
          </ul>
          <div class="price">Preis auf Anfrage</div>
        </div>
      </div>
    </div>
  </div>
  <a name="anwendungsbeispiele"></a>
  <div class="cases-container">
    <div class="container">
      <h1>Anwendungsbeispiele</h1>
      <p>
        Es gibt eine Vielzahl möglicher Einsatzgebiete von VR und AR. Innerhalb
        von Unternehmen sehen wir sie heute mehrheitlich für
        Schritt-für-Schritt-Anleitungen, Fernunterstützung von Mitarbeitern und
        dem Transfer von Wissen. Gegen aussen sind es Themen wie
        Produktpräsentationen oder virtuelle Begehungen.
      </p>
      <div class="items">
        <div class="item">
          <div class="item-description">
            <h2>Schritt-für-Schritt-Anleitungen</h2>
            <p>
              Mithilfe von sogenannten Schritt-für-Schritt-Anleitungen wird der
              Nutzer durch eine komplexe Aufgabe geführt. Die Aufgabe wird dazu
              in kleine Schritte unterteilt und leicht nachvollziehbar
              präsentiert. Durch interaktive Elemente kann dem Nutzer nicht nur
              erklärt werden, was zu tun ist, sondern auch wo und in welcher
              Weise er dies tun muss.
            </p>
          </div>
        </div>
        <div class="item">
          <div class="item-description">
            <h2>Fernunterstützung von Mitarbeitern</h2>
            <p>
              Das bestehende Wissen und Personal vor Ort reicht oftmals nicht
              aus, um ein Problem zu lösen. In diesen Fällen ist man auf
              spezialisiertes Know-how angewiesen. Durch den Einsatz einer
              Augmented Reality Fernunterstützung können Experten, die nicht
              direkt vor Ort sein können, Ihre Mitarbeiter unterstützen. Mit
              Hilfe von Tablets, Smartphones oder Smartglasses können sie das
              Geschehen beobachten, mit dem Gegenüber sprechen und raumbezogene
              Markierungen oder Symbole für eindeutige Anweisungen setzen.
            </p>
          </div>
        </div>
        <div class="item">
          <div class="item-description">
            <h2>Wissenstransfer</h2>
            <p>
              Bei Trainings- und Schulungsszenarien erlaubt die Nutzung von AR
              und VR, Informationen und Zusammenhänge spielerisch zu vermitteln.
              Auszubildende können in spezielle Situationen versetzt werden und
              Arbeitsabläufe immer und immer wieder durchspielen. So können sie
              auf gefährliche Situationen vorbereitet werden oder den Umgang mit
              teuren Elementen erlernen ohne dabei sich selbst oder ihr Umfeld
              in Gefahr zu bringen.
            </p>
          </div>
        </div>
        <div class="item">
          <div class="item-description">
            <h2>Produktpräsentationen</h2>
            <p>
              Augmented Reality und Virtual Reality halten auch in den Bereichen
              Sales und Marketing Einzug: Produkte werden dank ihrer Hilfe
              erlebbar und lassen sich mit zusätzlichen Emotionen verknüpfen.
              Ihre Kunden können sich Ihre Produkte virtuell anprobieren oder
              schauen, wie sie sich in ihrem Umfeld machen.
            </p>
          </div>
        </div>
        <div class="item">
          <div class="item-description">
            <h2>Virtuelle Begehungen</h2>
            <p>
              Informationen die an einen fixen Standort gebunden sind oder
              Handlungen die nicht im jetzt spielen, können mithilfe von Virtual
              Reality jedermann und jederzeit zugänglich gemacht werden.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<script src="/utils/play-video-in-viewport.js"></script>
