---
title: Registrierung
lang: de
---

<div class="sign-up-success">
    <div class="container">
        <div class="middle">
            <div>
                <h1>Herzlichen Dank!</h1>
                <h2>Deine Anfrage wurde entgegengenommen.</h2>
                <a class="btn btn-blue" href="/">Zurück zur Homepage</a>
            </div>
        </div>
    </div>
</div>