---
layout: sign-up-success
---

<div class="sign-up-success">
    <div class="sign-up-success-container">
        <div class="card">
            <h1>Thank you!</h1>
            <p>Your form submission has been received.</p>
            <div class="nav">
                <a href="/"
                ><img alt="Arrow back" src="/images/back.svg" />
                <span>Back to our site</span></a
                >
            </div>
        </div>
    </div>
</div>
    