---
layout: sign-up
---

<main class="sign-up">
    <div class="sign-up-header container">
        <div>
        <a href="/">
            <img class="logo" src="/images/logo.svg" alt="Bubble CMS" />
        </a>
        </div>

        <h1>Manage your Chatbot with Bubble CMS</h1>

        <p class="description">
        Leave your email address and we will give you a free access to our
        demo system.
        </p>

        <div class="register-container">
        <div class="sign-up-form">
            <form
            name="early-access"
            action="/sign-up-success/"
            method="POST"
            netlify
            >
            <span class="input-affix-wrapper">
                <input
                placeholder="Enter your email here"
                type="email"
                name="email"
                />
                <span class="input-suffix">
                <button type="submit"><span>Sign up</span></button>
                </span>
            </span>
            </form>
        </div>
        </div>
    </div>
</main>
  