---
title: Newsletter
lang: de
---

<div class="preview-container">
  <div class="container">
    <h1>Feature Update Januar 2020</h1>
    <div class="description">
      Bubble CMS entwickelt sich prächtig weiter. In den letzten Wochen konnten
      wir einige Funktionen einbauen, welche unsere Kunden bereits nicht mehr
      missen möchten. In diesem Newsletter möchten wir euch die wichtigsten drei
      Funktionen vorstellen.
    </div>
    <div class="items">
      <div class="item">
        <div class="item-description">
          <h2>Slack Live Chat</h2>
          <p>
            Chatbots sind natürlich sehr schlau, und haben auf fast alles eine
            Antwort. Da gibt es aber auch Situationen, wo ein Chatbot die
            Konversation doch besser an eine echte Person übergibt. Für
            Live-Chats verwenden wir meistens Slack-Channels. Daher war es
            naheliegend, bei Bubble CMS Slack auf einfache Art und Weise zu
            integrieren.
          </p>
          <p>
            Bei der Erstellung eines Intents kann der Benutzer nun einen sog.
            “Slack Expert Intent” auswählen. Wenn dieser Intent getriggert wird,
            baut der Chatbot eine Konversation mit dem vorher eingerichteten
            Slack Channel auf.
          </p>
        </div>
        <div class="item-image">
          <img
            alt="Screenshot of Bubble CMS Slack Expert Intent"
            data-src="/images/1.20newsletter/slack-expert.jpg"
            class="lazyload"
          />
        </div>
      </div>

      <div class="item">
        <div class="item-description">
          <h2>Entätsbasierte Intents</h2>
          <p>
            Dieser Titel tönt etwas komplizierter als die Sache tatsächlich ist.
            Oft müssen Chatbots anhand eines Parameters unterschiedliche
            Antworten geben können. Wenn beispielsweise ein Chatbot eines
            Grosskonzerns gefragt wird: “Wie viel verdiene ich während der
            Lehre?”, dann kann er im Normalfall nicht direkt eine Antwort geben.
            Er muss dann zuerst nachfragen, um welche Lehre es sich handelt.
          </p>
          <p>
            Mit entitätsbasierten Intents kann bei Bubble CMS genau das
            konfiguriert werden. Zunächst kann man Entitäten wie z.B. “Lehre”
            erfassen. Anschliessend kann bei einem “Lohn”-Intent eine Rückfrage
            hinterlegt werden, welche in diesem Fall wie folgt lauten könnte:
            “Für welche Lehre interessierst du dich?”. Schliesslich kann bei
            diesem Intent dann für alle Entitätswerte eine passende Antwort
            erfasst werden.
          </p>
        </div>
        <div class="item-image">
          <img
            alt="Screenshot of Bubble CMS entity based intents"
            data-src="/images/1.20newsletter/entity-based.jpg"
            class="lazyload"
          />
        </div>
      </div>

      <div class="item">
        <div class="item-description">
          <h2>Markdown</h2>
          <p>
            Textbasierte Antworten sind toll. Doch manchmal ist es gut, wenn man
            z.B. in einer Antwort einen Link integrieren, oder vielleicht sogar
            ein Bild anzeigen kann. Aus diesem Grund haben wir bei den
            Antwort-Bubbles die Verwendung von Markdown integriert. Nebst
            Bildern und Links können die Antworten dadurch mit beliebigen
            Textauszeichnungen versehen werden.
          </p>
        </div>
        <div class="item-image">
          <img
            alt="Screenshot of Bubble CMS Markdown chat bubble example"
            data-src="/images/1.20newsletter/markdown.jpg"
            class="lazyload"
          />
        </div>
      </div>
    </div>
    <div class="items">
      <p>
        Was sind deine Herausforderungen beim Verwalten von Chatbot-Inhalten?
        Was hält dich davon ab, Bubble CMS einzusetzen?
      </p>
      <p>
        Melde dich bei uns. Wir stellen dir auch gerne eine Demo-Umgebung zur
        Verfügung.
      </p>
    </div>
    <div class="items">
      <div class="special-offer">
        <strong>Aktion:</strong> Wir schenken dir 30 Prozent Rabatt auf ein
        Bubble CMS Jahresabo, wenn du dieses bis Ende Februar 2020 abschliesst.
        Teil uns mit, was dein Chatbot können soll, und wir stellen dir ein
        Angebot zu.
      </div>
    </div>
  </div>
</div>
