---
title: Newsletter
lang: en
---

<div class="preview-container">
  <div class="logo-container">
    <img
      class="logo"
      src="/images/3.19chatbot-content-management/alex-knight-robot-slim.jpg"
      alt="Bubble CMS"
    />
  </div>
</div>
<div class="preview-container">
  <div class="container">
    <h1>Wie verwaltet man Chatbot-Inhalte?</h1>
    <div class="items">
      <div class="text-item">
        <h2>Chatbot-Wartung kann eine Qual sein</h2>
        <div>
          <p>
            Ein Chatbot, der nur ein paar einfache Fragen beantwortet, braucht
            kaum Wartung. Wenn ein Chatbot-Projekt jedoch etwas grösser ist,
            tauchen oft die gleichen Fragen von Kunden auf.
          </p>
          <ul>
            <li>
              Wie kann ein Marketing-Mitarbeiter den Chatbot trainieren?
            </li>
            <li>
              Wo sehen wir, was der Chatbot nicht verstanden hat? Und wie können
              wir das dem Chatbot beibringen?
            </li>
            <li>
              Wie stellen wir sicher, dass der Chatbot nach zusätzlichem
              Training die ursprünglichen Fragen noch richtig beantwortet?
            </li>
          </ul>
          <p>
            Man könnte meinen, dass diese Fragen schon lange gelöst sind. Aber
            weit gefehlt: Die derzeit existierenden Lösungen decken diese
            Probleme kaum ab. In den meisten Fällen sind sie ausserdem zu
            technisch.
          </p>
        </div>
      </div>

      <div class="text-item">
        <h2>Bubble CMS</h2>
        <p>
          Wir beschlossen, diese Probleme mit Bubble CMS, einem
          Chatbot-Content-Management-System, zu lösen. Während unserer
          Chatbot-Projekte der letzten Jahre haben wir viel über die Bedürfnisse
          unserer Kunden gelernt. Bubble CMS ist eine passende Lösung für die
          oben beschriebenen Probleme.
        </p>

        <p>
          Bubble CMS adressiert unter anderem die folgenden Bedürfnisse:
        </p>
        <ul>
          <li>
            Im CMS kann Nicht-IT-Personal den Chatbot mit Absichten und den
            entsprechenden Antworten trainieren. Es ist kein technisches
            Know-how notwendig.
          </li>
          <li>
            Verschiedene Abteilungen können den Chatbot unabhängig voneinander
            trainieren.
          </li>
          <li>
            Sie erhalten einen klaren Überblick über Äusserungen, die der
            Chatbot nicht verstanden hat. Diese können dann zum Trainieren des
            Chatbots verwendet werden.
          </li>
          <li>
            Es kann eine Reihe von Testfragen definiert werden, um die
            Funktionsfähigkeit des Chatbots jederzeit sicherzustellen.
          </li>
          <li>
            Sie können einzelne Änderungen verfolgen und haben die Möglichkeit,
            diese zurückzunehmen.
          </li>
        </ul>
        <div class="item-image">
          <img
            alt="Screenshot of Bubble CMS Markdown chat bubble example"
            data-src="/images/3.19chatbot-content-management/bubblecms-interface.jpg"
            class="lazyload"
            style="margin-top:3rem;"
          />
          <div class="image-description">
            Verwalten Sie alle Inhalte in einer intuitiven Benutzeroberfläche
          </div>
        </div>
      </div>
      <div class="text-item">
        <h2>Kommen Ihnen diese Probleme bekannt vor?</h2>
        Kennen Sie ähnliche Herausforderungen? Kann Bubble CMS Ihnen helfen? Wir
        würden gerne hören, wie Sie diese Probleme gelöst haben und ob Bubble
        CMS eine geeignete Lösung für Sie sein könnte. Kontaktieren Sie uns!
      </div>
    </div>
  </div>
</div>
