<footer>
    <div class="container">
      <h3>Contact</h3>
      <p>
        Apptiva AG<br />
        Neuenkirchstrasse 19<br />
        CH-6203 Sempach Station
      </p>
      <p>
        <a href="tel:+41413222626" target="_blank" rel="noopener noreferrer"
          >+41 41 322 26 26</a
        ><br />
        <a href="mailto:info@apptiva.ch">info@apptiva.ch</a><br /><a
          href="https://apptiva.ch"
          target="_blank"
          rel="noopener noreferrer"
          >www.apptiva.ch</a
        >
      </p>
      <p>© 2019 - Apptiva AG</p>
    </div>
  </footer>
