<footer>
  <div class="container">
    <div class="content">
      <div>
        <h2>Über die VR Factory</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam voluptatibus incidunt quasi perspiciatis
          exercitationem sunt assumenda, omnis iste? Quia voluptas quaerat vero obcaecati consequuntur? Natus omnis
          alias cupiditate? Sint, ab.</p>
      </div>
      <div>
        <h2>Kontakt</h2>
        <div class="contact-details">
          <div>
            Apptiva AG<br />
            Neuenkirchstrasse 19<br />
            CH-6203 Sempach Station
          </div>
          <div>
            <a href="tel:+41413222626" target="_blank" rel="noopener noreferrer">+41 41 322 26 26</a>
            <a href="mailto:info@apptiva.ch">info@apptiva.ch</a>
            <a href="https://apptiva.ch" target="_blank" rel="noopener noreferrer">www.apptiva.ch</a>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright">© 2020 VR Factory - eine Initiative der Apptiva AG<br />Made in Switzerland 🇨🇭</div>
  </div>
</footer>

<script src="/utils/lazysizes.min.js" async=""></script>