<footer>
  <div class="container">
    <div>
      <h3>Contact</h3>
      <p>
        Apptiva AG<br />
        Neuenkirchstrasse 19<br />
        CH-6203 Sempach Station
      </p>
      <a href="tel:+41413222626" target="_blank" rel="noopener noreferrer">+41 41 322 26 26</a>
      <a href="mailto:info@apptiva.ch">info@apptiva.ch</a>
      <a href="https://apptiva.ch" target="_blank"
        rel="noopener noreferrer">www.apptiva.ch</a>
      <p class="copyright">© 2019 - Apptiva AG</p>
    </div>
    <div>
      <p>Made in Switzerland 🇨🇭</p>
    </div>
    <div class="language-switcher">
      <p><a href="/de/">Deutsch</a></p>
    </div>
  </div>
</footer>

<script src="/utils/lazysizes.min.js" async=""></script>