<header>
    <div class="container">
        <a href="/">
            <img class="logo" src="/images/logo.svg" alt="Bubble CMS" />
        </a>
        <div class="middle">
            <div>
                <h1>Bubble CMS</h1>
                <h2>Managing Chatbot Content Like a Breeze</h2>
                <a class="btn btn-blue" href="/sign-up/">Get it now</a>
            </div>
        </div>
    </div>
</header>
