<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />

<link rel="canonical" href="https://bubblecms.io/de/" />

<!-- START SEO -->
<meta name="description"
    content="Der Inhalt eines Chatbots sollte von den Personen verwaltet werden, die damit am besten vertraut sind. Bubble CMS wurde entwickelt, um dies zu ermöglichen." />
<meta property="og:type" content="website" />
<meta property="og:title" content="Bubble CMS - Managing Chatbot Content Like a Breeze" />
<meta property="og:description"
    content="Der Inhalt eines Chatbots sollte von den Personen verwaltet werden, die damit am besten vertraut sind. Bubble CMS wurde entwickelt, um dies zu ermöglichen." />
<meta property="og:url" content="https://bubblecms.io/" />
<meta property="og:site_name" content="Bubble CMS" />
<meta property="og:image" content="https://bubblecms.io/images/bubblecms-hash.png" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="Bubble CMS - Managing Chatbot Content Like a Breeze" />
<meta name="twitter:description"
    content="Der Inhalt eines Chatbots sollte von den Personen verwaltet werden, die damit am besten vertraut sind. Bubble CMS wurde entwickelt, um dies zu ermöglichen." />
<meta property="twitter:image" content="https://bubblecms.io/images/bubblecms-hash.png" />

<script type="application/ld+json">
        {
        "@context": "http:\/\/schema.org",
        "@type": "WebSite",
        "@id": "#website",
        "url": "https:\/\/bubblecms.io\/",
        "name": "Bubble CMS",
        "potentialAction": {
            "@type": "SearchAction",
            "target": "https:\/\/bubblecms.io\/?s={search_term_string}",
            "query-input": "required name=search_term_string"
        }
        }
    </script>
<!-- END SEO -->

<link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet" href="/css/menu.css" />
<link href="https://fonts.googleapis.com/css?family=Lato:400,700|Poppins:700" rel="stylesheet" />

<script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js"
    integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1"
    crossorigin="anonymous"></script>

<link rel="shortcut icon" href="/favicon.ico" />
<link rel="manifest" href="/site.webmanifest" />
<meta name="msapplication-TileColor" content="#2b5797" />
<meta name="theme-color" content="#722ed1" />

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-66015649-7"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
        dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "UA-66015649-7");
</script>
<title><%= page.title %> - <%= site.title %></title>
</head>