<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />

<link rel="canonical" href="https://vr-factory.ch/" />

<!-- START SEO -->
<meta name="description"
    content="Die VR Factory erstellt passgenaue Virtual Reality und Augmented Reality Lösungen für Unternehmen. Dabei setzt sie die Anwender ins Zentrum und schafft mit modernster Technologie Arbeitserleichterung, Qualitätssteigerung und neue Kundenerlebnisse." />
<meta property="og:type" content="website" />
<meta property="og:title" content="VR Factory - passgenaue Virtual Reality Lösungen" />
<meta property="og:description"
    content="Die VR Factory erstellt passgenaue Virtual Reality und Augmented Reality Lösungen für Unternehmen. Dabei setzt sie die Anwender ins Zentrum und schafft mit modernster Technologie Arbeitserleichterung, Qualitätssteigerung und neue Kundenerlebnisse." />
<meta property="og:url" content="https://vr-factory.ch/" />
<meta property="og:site_name" content="VR Factory" />
<meta property="og:image" content="https://vr-factory.ch/images/vr-factory-hash.png" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="VR Factory - passgenaue Virtual Reality Lösungen" />
<meta name="twitter:description"
    content="Die VR Factory erstellt passgenaue Virtual Reality und Augmented Reality Lösungen für Unternehmen. Dabei setzt sie die Anwender ins Zentrum und schafft mit modernster Technologie Arbeitserleichterung, Qualitätssteigerung und neue Kundenerlebnisse." />
<meta property="twitter:image" content="https://vr-factory.ch/images/vr-factory-hash.png" />

<script type="application/ld+json">
        {
        "@context": "http:\/\/schema.org",
        "@type": "WebSite",
        "@id": "#website",
        "url": "https:\/\/vr-factory.ch\/",
        "name": "VR Factory",
        "potentialAction": {
            "@type": "SearchAction",
            "target": "https:\/\/vr-factory.ch\/?s={search_term_string}",
            "query-input": "required name=search_term_string"
        }
        }
    </script>
<!-- END SEO -->

<link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet" href="/css/menu.css" />

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#2b5797">
<meta name="theme-color" content="#ffffff">

<link rel="preconnect" href="https://www.google-analytics.com">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-66015649-11"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-66015649-11');
</script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>

<title><%= page.title %> - <%= site.title %></title>
</head>