<div class="hero">
    <div class="container">
        <img class="logo" src="/images/logo.svg" alt="Bubble CMS" />
        <div class="middle">
            <div>
                <h1>Bubble CMS</h1>
                <h2>Managing Chatbot Content Like a Breeze</h2>
                <a class="btn btn-blue" href="/sign-up">Get it now</a>
            </div>
        </div>
    </div>
</div>