<div class="hero">
  <img src="/images/logo.svg" alt="VR Factory" class="hero-logo" />
  <div class="container">
    <div class="middle">
      <div style="flex: 3;"></div>
      <h1>VR Factory</h1>
      <h2 style="max-width: 60rem;">
        Virtual und Augmented Reality Entwicklung für Unternehmen
      </h2>
      <div style="flex: 1;"></div>
    </div>
    <div class="bottom">
      <a href="/#home" title="VR Factory" class="arrow">
        <svg viewBox="0 0 16 10">
          <path
            d="M 2 2 L 8 8 L 14 2"
            fill="transparent"
            stroke="white"
            stroke-width="2"
          ></path>
        </svg>
      </a>
    </div>
  </div>
</div>
