<div class="hero">
    <div class="container">
        <div class="logo-container">
            <img class="logo" src="/images/logo.svg" alt="Bubble CMS" />
            <a class="language-switcher" href="/de/">Deutsch</a>
        </div>
        <div class="middle">
            <div>
                <h1>Bubble CMS</h1>
                <h2>Managing Chatbot Content Like a Breeze</h2>
                <a class="btn btn-blue" href="/en/sign-up/">Get it now</a>
            </div>
        </div>
    </div>
</div>