<div class="hero">
    <div class="container">
<<<<<<< HEAD:src/partials/header-en.ejs
        <a href="/en/">
            <img class="logo" src="/images/logo.svg" alt="Bubble CMS" />
        </a>
=======
        <img class="logo" src="/images/logo.svg" alt="Bubble CMS" />
>>>>>>> b2ebfab791b01c5fda4e497ba694ec4c9c4f7ccf:src/partials/hero.ejs
        <div class="middle">
            <div>
                <h1>Bubble CMS</h1>
                <h2>Managing Chatbot Content Like a Breeze</h2>
<<<<<<< HEAD:src/partials/header-en.ejs
                <a class="btn btn-blue" href="/en/sign-up/">Get it now</a>
=======
                <a class="btn btn-blue" href="/sign-up">Get it now</a>
>>>>>>> b2ebfab791b01c5fda4e497ba694ec4c9c4f7ccf:src/partials/hero.ejs
            </div>
        </div>
    </div>
</div>