<header>
    <div class="container">
        <a href="#main-menu" id="main-menu-toggle" class="menu-toggle" aria-label="Hauptmenü öffnen">
            <span class="sr-only">Hauptmenü öffnen</span>
            <span class="fa fa-bars" aria-hidden="true"></span>
        </a>

        <div class="logo">
            <a href="/de/">
                <img src="/images/logo-border.svg" alt="Bubble CMS" />
            </a>
        </div>

        <nav id="main-menu" class="main-menu" aria-label="Hauptmenü">
            <a href="#main-menu-toggle" id="main-menu-close" class="menu-close" aria-label="Hauptmenü schliessen">
                <span class="sr-only">Hauptmenü schliessen</span>
                <span class="fa fa-times" aria-hidden="true"></span>
            </a>
            <ul>
                <li><a href="/de/#cms">Inhalte verwalten</a></li>
                <li><a href="/de/#features">Funktionen</a></li>
                <li><a href="/de/sign-up">Jetzt ausprobieren</a></li>
            </ul>
        </nav>
        <a href="#main-menu-toggle" class="backdrop" tabindex="-1" aria-hidden="true" hidden></a>
    </div>
</header>