<header>
  <div class="header__container">
    <div class="header__logo">
      <a href="/#home">
        <img src="/images/logo.png" alt="VR Factory" />
        <div>
          <h1>VR Factory</h1>
          <h2>Passgenaue VR Lösungen</h2>
        </div>
      </a>
    </div>

    <div class="header__menuButton" tabIndex="0">Menu</div>
    <div class="header__navigation">
      <a href="/#angebot" class="header__navigationItem" partiallyActive>
        Angebot
      </a>
      <a
        href="/#anwendungsbeispiele"
        class="header__navigationItem"
        partiallyActive
      >
        Beispiele
      </a>
      <a href="/#showcase" class="header__navigationItem" partiallyActive>
        Showcase
      </a>
      <a href="/contact" class="header__navigationItem" partiallyActive>
        Kontakt
      </a>
    </div>
  </div>
</header>
