<div class="widgets-container">
    <div class="container">
        <div class="widgets">
            <div class="widget">
                <img src="/images/simple.png" alt="Einfach" />
                <h2>Einfach</h2>
                <div class="description">
                    Dank Bubble CMS kannst du einen Chatbot trainieren, auch wenn du kein Nerd bist. Melde dich an und
                    fange gleich an.
                </div>
            </div>
            <div class="widget">
                <img src="/images/controlled.png" alt="Kontrolliert" />
                <h2>Kontrolliert</h2>
                <div class="description">
                    Mit Bubble CMS stellst du sicher, dass Änderungen am Bot keine unerwünschten Nebenwirkungen
                    verursachen.
                </div>
            </div>
            <div class="widget">
                <img src="/images/independent.png" alt="Unabhängig" />
                <h2>Unabhängig</h2>
                <div class="description">
                    Verwende das Bot-Framework deiner Wahl. Oder verwende mehrere auf einmal. Bubble CMS erledigt den
                    Rest.
                </div>
            </div>
        </div>
    </div>
</div>