<div class="widgets-container">
    <div class="container">
        <div class="widgets">
            <div class="widget">
                <img src="/images/simple.png" alt="Simple" />
                <h2>Simple</h2>
                <div class="description">
                    Thanks to Bubble CMS you can train a chatbot even if you are not
                    a nerd. Log in and get started.
                </div>
            </div>
            <div class="widget">
                <img src="/images/controlled.png" alt="Controlled" />
                <h2>Controlled</h2>
                <div class="description">
                    With Bubble CMS you make sure that changes to the bot do not
                    cause any unwanted side effects.
                </div>
            </div>
            <div class="widget">
                <img src="/images/independent.png" alt="Independent" />
                <h2>Independent</h2>
                <div class="description">
                    Use the Bot framework of your choice. Or use several at once.
                    Bubble CMS does the rest.
                </div>
            </div>
        </div>
    </div>
</div>