---
layout: landing-page
title: Home
lang: de
---

<main>
  <div class="workflow-example">
    <video id="example-vid" loop muted playsinline>
      <source src="/images/bubblecms-example-15fps.mp4" type="video/mp4" class="lazyload">
      Leider unterstützt dein Browser keine eingebetteten Videos.
    </video>
  </div>
  <a name="cms"></a>
  <div class="preview-container">
    <div class="container">
      <h1>Chatbot Inhalte verwalten</h1>
      <div class="description">
        Der Inhalt eines Chatbots sollte von denjenigen verwaltet werden, die
        damit am besten vertraut sind.<br />Bubble CMS wurde entwickelt, um dies
        zu ermöglichen.
      </div>
      <div class="items">
        <div class="item">
          <div class="item-description">
            <h2>Inhalte einfach verwalten</h2>
            <h3>
              Verwalte deine Chatbot-Inhalte wie im Fluge, dank einer
              leistungsstarken und intuitiven Benutzeroberfläche.
            </h3>
            <p>
              Mit Bubble CMS ist es sehr einfach, dem Chatbot die richtigen
              Antworten auf häufig gestellte Fragen beizubringen. Mit Hilfe von
              vordefinierten Vorlagen können strukturierte Gespräche im
              Handumdrehen konfiguriert werden.
            </p>
            <p>
              Durch eine schnelle Volltextsuche findest du deine Absichten
              sofort. Sie beinhaltet sowohl Trainingssätze als auch Antworten
              des Bots.
            </p>
          </div>
          <div class="item-image">
            <picture>
              <source data-srcset="/images/bubblecms-manage.webp" type="image/webp" class="lazyload">
              <source data-srcset="/images/bubblecms-manage.jpg" type="image/jpg" class="lazyload">
              <img alt="Screenshot der Bubble CMS Inhaltsverwaltung" data-src="/images/bubblecms-manage.jpg"
                class="lazyload" />
            </picture>
          </div>
        </div>

        <div class="item">
          <div class="item-description">
            <h2>Einfaches Chatbot Training</h2>
            <h3>
              Trainiere deinen Chatbot im Handumdrehen und mit Selbstvertrauen.
            </h3>
            <p>
              Verschaffe dir einen Überblick darüber, was dein Chatbot nicht
              verstanden hat und ordne die unbeantworteten Benutzeräusserungen
              der entsprechenden Absicht zu.
            </p>
            <p>Erstelle neue Absichten, wenn es noch keine passenden gibt.</p>
          </div>
          <div class="item-image">
            <picture>
              <source data-srcset="/images/bubblecms-training.webp" type="image/webp" class="lazyload">
              <source data-srcset="/images/bubblecms-training.jpg" type="image/jpg" class="lazyload">
              <img alt="Screenshot des Bubble CMS Trainings" data-src="/images/bubblecms-training.jpg"
                class="lazyload" />
            </picture>
          </div>
        </div>

        <div class="item">
          <div class="item-description">
            <h2>Änderungen überprüfen</h2>
            <h3>Teste neue Inhalte vor der Veröffentlichung.</h3>
            <p>
              Alle Änderungen werden zunächst auf eine Testumgebung angewendet.
              Auf diese Weise kannst du deine Änderungen testen, bevor sie
              veröffentlicht werden.
            </p>
            <p>
              Zusätzlich wird der Inhalt automatisch getestet. Auf diese Weise
              kannst du entscheiden, ob du die Änderungen auf die
              Produktivumgebung anwenden möchtest.
            </p>
          </div>
          <div class="item-image">
            <picture>
              <source data-srcset="/images/bubblecms-publish.webp" type="image/webp" class="lazyload">
              <source data-srcset="/images/bubblecms-publish.jpg" type="image/jpg" class="lazyload">
              <img alt="Screenshot der Bubble CMS Veröffentlichung" data-src="/images/bubblecms-publish.jpg"
                class="lazyload" />
            </picture>
          </div>
        </div>

        <div class="item">
          <div class="item-description">
            <h2>Metriken</h2>
            <h3>
              Überwache und verbessere die Leistung deines Chatbots effizient.
            </h3>
            <p>
              Das Bubble CMS Dashboard bietet dir eine Reihe von Kennzahlen für
              die Chatbot-Analyse. Viele der Fähigkeiten des Chatbots werden
              durch diese Metriken gemessen.
            </p>
            <p>
              Darüber hinaus ist es möglich, alle Gespräche in ein eigenes
              Reporting-Tool wie Tableu oder Qlik Sense zu exportieren.
            </p>
          </div>
          <div class="item-image">
            <picture>
              <source data-srcset="/images/bubblecms-dashboard.webp" type="image/webp" class="lazyload">
              <source data-srcset="/images/bubblecms-dashboard.jpg" type="image/jpg" class="lazyload">
              <img alt="Screenshot des Bubble CMS Dashboards" data-src="/images/bubblecms-dashboard.jpg"
                class="lazyload" />
            </picture>
          </div>
        </div>

        <div class="item">
          <div class="item-description">
            <h2>Einblicke in die Konversationen</h2>
            <h3>Erhalte Einblicke in das, worüber Benutzer chatten.</h3>
            <p>
              Manchmal möchte man sich ein Gespräch im Detail ansehen. Bubble
              CMS kann nicht nur den Verlauf jedes Gesprächs anzeigen, sondern
              auch die Transkriptionen in Echtzeit aktualisieren.
            </p>
            <p>
              Darüber hinaus kann der Kontext einzelner Nachrichten eingesehen
              werden.
            </p>
          </div>
          <div class="item-image">
            <picture>
              <source data-srcset="/images/bubblecms-conversations.webp" type="image/webp" class="lazyload">
              <source data-srcset="/images/bubblecms-conversations.jpg" type="image/jpg" class="lazyload">
              <img alt="Screenshot der Bubble CMS Konversationen" data-src="/images/bubblecms-conversations.jpg"
                class="lazyload" />
            </picture>
          </div>
        </div>
      </div>

      <div class="call-to-action">
        <a class="btn btn-blue" href="/de/sign-up/">Jetzt bestellen</a>
      </div>
    </div>
  </div>

  <a name="features"></a>
  <div class="features-container">
    <div class="container">
      <h1>Funktionen</h1>
      <p>
        Bubble CMS ermöglicht es Fachpersonen, den Inhalt ihrer Chatbots zu
        verwalten, ohne dass ein IT-Guru erforderlich ist.
      </p>
      <p>
        Dank seiner Technologie&shy;unabhängigkeit lässt sich Bubble CMS
        problemlos in eine bestehende Chatbot-Umgebung integrieren.
      </p>
      <div class="box">
        <div class="row first">
          <div class="col feature">
            Absichten verwalten
          </div>
          <div class="col">
            <img alt="check circle" src="/images/check-circle.svg" />
            <div>
              Hinzufügen, Aktualisieren, Kombinieren oder Entfernen von
              Absichten.<br />Schnelle Volltextsuche inklusive.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col feature">
            Mehrsprachige Chatbots
          </div>
          <div class="col">
            <img alt="check circle" src="/images/check-circle.svg" />
            <div>EN, DE, FR, ... - was immer du willst.</div>
          </div>
        </div>
        <div class="row">
          <div class="col feature">
            Unterstützte NLU Frameworks
          </div>
          <div class="col">
            <img alt="check circle" src="/images/check-circle.svg" />
            <div>Dialogflow und Rasa<br />weitere auf Anfrage</div>
          </div>
        </div>
        <div class="row">
          <div class="col feature">
            Entitäten
          </div>
          <div class="col">
            <img alt="check circle" src="/images/check-circle.svg" />
            <div>
              Konfiguriere die Entitätsextraktion<br />Eine Reihe von
              vordefinierten Systementitäten steht zur Verfügung.
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col feature">
            Unabhängiges Training
          </div>
          <div class="col">
            <img alt="check circle" src="/images/check-circle.svg" />
            <div>
              Mehrere Fachpersonen können einen Bot unabhängig voneinander für
              eine bestimmte Domäne trainieren.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col feature">
            Teste geänderte Inhalte vor der Veröffentlichung.
          </div>
          <div class="col">
            <img alt="check circle" src="/images/check-circle.svg" />
            <div>
              Das einwandfreie Funktionieren des Bots kann mit Testfragen
              automatisch sichergestellt werden.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col feature">
            Übersicht über unbeantwortete Benutzeräusserungen
          </div>
          <div class="col">
            <img alt="check circle" src="/images/check-circle.svg" />
            <div>
              Äusserungen, die der Bot nicht verstanden hat, werden
              übersichtlich dargestellt und dienen als Grundlage für das
              regelmässige Training.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col feature">
            Benutzerauthentifizierung
          </div>
          <div class="col">
            <img alt="check circle" src="/images/check-circle.svg" />
            <div>Social Login<br />LDAP auf Anfrage</div>
          </div>
        </div>
        <div class="row">
          <div class="col feature">
            Analyse
          </div>
          <div class="col">
            <img alt="check circle" src="/images/check-circle.svg" />
            <div>
              Diverse Benutzer-, Nachrichten- und Bot-Metriken<br />Individuelle
              Metriken auf Anfrage
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col feature">
            Software as a Service (SaaS)
          </div>
          <div class="col">
            <img alt="check circle" src="/images/check-circle.svg" />
            <div>
              Gehostet in der Schweiz in einem hochverfügbaren Rechenzentrum.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col feature">
            On-Premise
          </div>
          <div class="col">
            <img alt="check circle" src="/images/check-circle.svg" />
            <div>Lokal auf deinem eigenen Server installiert.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="call-to-action">
      <a class="btn btn-blue" href="/de/sign-up/">Jetzt ausprobieren</a>
    </div>
  </div>

  <div class="blogpost-container">
    <div class="container">
      <h1>Blog</h1>
      <a href="https://medium.com/bubble-cms/how-to-manage-chatbot-content-acfc9719cfd9" class="blogpost"
        target="_blank" rel="noopener noreferrer">
        <img data-src="/images/alex-knight-199368-unsplash.jpg" alt="Roboter vor brauner Wand" class="lazyload"/>
        <div class="blogpost-content">
          <h2>Chatbot Wartung kann sehr schmerzhaft sein</h2>
          <p>
            Ein Chatbot, der ein paar einfache Fragen beantwortet, benötigt kaum
            Wartung. Wenn ein Chatbot-Projekt jedoch etwas grösser ist, kann es
            schnell zu Problemen kommen.
          </p>
          <p><small>medium.com</small></p>
        </div>
      </a>
    </div>
  </div>
</main>

<script src="/utils/play-video-in-viewport.js"></script>