---
title: Sign Up
lang: en
---

<div class="sign-up-success">
    <div class="container">
        <div class="middle">
            <div>
                <h1>Thank you!</h1>
                <h2>Your form submission has been received.</h2>
                <a class="btn btn-blue" href="/en/">Back to our site</a>
            </div>
        </div>
    </div>
</div>