---
title: Registrierung
lang: de
---

<main class="sign-up">
    <div class="sign-up-header container">

        <h1>Verwalte deinen Chatbot mit Bubble CMS</h1>

        <p class="description">
            Sende uns deine Kontaktdaten, um Bubble CMS auszuprobieren.
        </p>

        <div class="register-container">
            <div class="sign-up-form">
                <form name="early-access" action="/de/sign-up-success/" method="POST" netlify>
                    <ul class="form-items">
                        <li>
                            <label>Name <span class="required">*</span></label><input type="text" name="name" required
                                placeholder="Dein Name" />
                        </li>
                        <li>
                            <label>Unternehmen <span class="required">*</span></label>
                            <input type="text" name="company" required placeholder="Name deines Unternehmens" />
                        </li>
                        <li>
                            <label>E-Mail <span class="required">*</span></label>
                            <input type="email" required name="email" placeholder="Deine E-Mail-Adresse" />
                        </li>
                        <li>
                            <label>Nachricht</label>
                            <textarea name="message" rows="4"
                                placeholder="Hinterlasse eine Nachricht, wenn du möchtest."></textarea>
                        </li>
                        <li>
                            <button type="submit">
                                <span>Fordere eine kostenlose Testversion an</span>
                            </button>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</main>