---
title: Newsletter
lang: en
---

<div class="preview-container">
  <div class="container">
    <h1>Feature Update January 2020</h1>
    <div class="description">
      During the last weeks we were able to implement some features that our
      customers wouldn't want to miss anymore. Here are the three most important
      features.
    </div>
    <div class="items">
      <div class="item">
        <div class="item-description">
          <h2>Slack Live Chat</h2>
          <p>
            Chatbots are of course very smart, and have an answer for almost
            everything. But there are also situations where a chatbot should
            better hand over the conversation to a real person. We at Apptiva
            mostly use slack channels for live chats. Therefore it was obvious
            to integrate Slack in a simple way with Bubble CMS.
          </p>
          <p>
            When creating an intent, the user can now select a so-called "Slack
            Expert Intent". When this intent is triggered, the chatbot will
            start a conversation with the previously configured slack channel.
          </p>
        </div>
        <div class="item-image">
          <img
            alt="Screenshot of Bubble CMS Slack Expert Intent"
            data-src="/images/1.20newsletter/slack-expert.jpg"
            class="lazyload"
          />
        </div>
      </div>

      <div class="item">
        <div class="item-description">
          <h2>Entity based intents</h2>
          <p>
            This title may sound a bit more complicated than the actual thing
            is. Often chatbots need to be able to give different answers based
            on a parameter. If, for example, a chatbot from a large company is
            asked: "How much do I earn during my apprenticeship?", it usually
            cannot give an answer right away. The chatbot must first ask which
            apprenticeship it is about.
          </p>
          <p>
            With entity based intents, Bubble CMS can be configured to do just
            that. At first, an entity such as "Apprenticeship" needs to be
            created. Afterwards, a prompt can be defined for a "Salary" intent,
            which in this case could be like: "What apprenticeship are you
            interested in?” Finally, a suitable answer can be entered for all
            entity values.
          </p>
        </div>
        <div class="item-image">
          <img
            alt="Screenshot of Bubble CMS entity based intents"
            data-src="/images/1.20newsletter/entity-based.jpg"
            class="lazyload"
          />
        </div>
      </div>

      <div class="item">
        <div class="item-description">
          <h2>Markdown</h2>
          <p>
            Text-based responses are great. But sometimes it's good if you can
            integrate a link in an answer, or maybe even display an image. For
            this reason we have integrated the use of Markdown in answer
            bubbles. In addition to images and links, the answers can be
            formatted as desired.
          </p>
        </div>
        <div class="item-image">
          <img
            alt="Screenshot of Bubble CMS Markdown chat bubble example"
            data-src="/images/1.20newsletter/markdown.jpg"
            class="lazyload"
          />
        </div>
      </div>
    </div>
    <div class="items">
      <p>
        What are your challenges when managing chatbot content? What prevents
        you from using Bubble CMS?
      </p>
      <p>
        Get in touch with us. We would be happy to provide you with a test
        environment.
      </p>
    </div>
    <div class="items">
      <div class="special-offer">
        <strong>Special offer:</strong> We will give you a 30% discount on a
        Bubble CMS annual subscription if you purchase it by the end of February
        2020. Let us know what your chatbot should be able to do and we will be
        pleased to send you an offer.
      </div>
    </div>
  </div>
</div>
