---
title: Newsletter
lang: en
---

<div class="preview-container">
  <div class="logo-container">
    <img
      class="logo"
      src="/images/3.19chatbot-content-management/alex-knight-robot-slim.jpg"
      alt="Bubble CMS"
    />
  </div>
</div>
<div class="preview-container">
  <div class="container">
    <h1>How to manage chatbot content?</h1>
    <div class="items">
      <div class="text-item">
        <h2>Chatbot maintenance can be a pain</h2>
        <div>
          <p>
            A chatbot that answers a few simple questions needs hardly any
            maintenance. However, if a chatbot project is a bit larger, you
            often encounter the same following questions from customers:
          </p>
          <ul>
            <li>How can a marketing employee train the chatbot?</li>
            <li>
              Where do we see what the chatbot didn’t understand? And how do we
              teach this to the chatbot?
            </li>
            <li>
              How do we make sure that the chatbot answers the original
              questions correctly after additional training?
            </li>
          </ul>
          <p>
            One might think that these questions have been solved a long time
            ago. But far from it: The currently existing solutions barely cover
            these problems. In most cases, they are also too technical for your
            average employee.
          </p>
        </div>
      </div>

      <div class="text-item">
        <h2>Bubble CMS</h2>
        <p>
          We decided to solve these problems with Bubble CMS, a chatbot content
          management system. During the chatbot projects of the past years, we
          learned a lot about the needs of our customers. Bubble CMS is a
          cohesive solution to the problems described above.
        </p>

        <p>
          Bubble CMS addresses among other things the following needs:
        </p>
        <ul>
          <li>
            In the CMS, not-IT personell can train the chatbot with intents and
            the corresponding answers. No technical know-how is necessary.
          </li>
          <li>
            The training for different departments takes place independently of
            each other.
          </li>
          <li>
            You get a clear overview of utterances that the chatbot did not
            understand. These can be used to train the chatbot.
          </li>
          <li>
            A set of test questions can be defined to ensure the functioning of
            the chatbot at all times.
          </li>
          <li>
            You can track individual changes and you have the possibility to
            roll them back.
          </li>
        </ul>
        <div class="item-image">
          <img
            alt="Screenshot of Bubble CMS Markdown chat bubble example"
            data-src="/images/3.19chatbot-content-management/bubblecms-interface.jpg"
            class="lazyload"
            style="margin-top:3rem;"
            />
          <div class="image-description">
            Manage all content in an intuitive user interface
          </div>
        </div>
      </div>
      <div class="text-item">
        <h2>Do these problems look familiar to you?</h2>
        Do you have similar challenges? Can Bubble CMS (<a
          href="https://bubblecms.io/"
          >www.bubblecms.io</a
        >) help you? We would love to hear how you solved these problems and if
        Bubble CMS could be a viable solution for you. Get in contact!
      </div>
    </div>
  </div>
</div>
