<!DOCTYPE html>
<html lang="<%= page.lang %>">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <div class="nav">
        <div class="container">
            <a href="/en/"
            ><img alt="Arrow back" src="/images/back.svg" /> <span>Back</span></a
            >
        </div>
    </div>
        
    <div class="content">
      <%- body %>
    </div>

    <%- include('partials/footer') %>
  </body>
</html>